.itemslot {
    height:8rem;
    width:8rem;
    margin:auto;
    overflow: hidden;
    border-radius:5%;
}
.itemslotsmall {
    height:5rem;
    width:5rem;
    margin:auto;
    overflow: hidden;
    border-radius: 2.5%;
}

.item{
    height:95%;
    width:95%;
    border-radius: 17.5%;
    margin:auto;
    margin-top:2.5%;
}