<div class="container left blue-grey darken-2" style="max-width:50%">
    <h1>{{category}} {{selectedSlot}} {{selectedBonus['label']}} {{selectedChildBonus['label']}} {{bonus}}</h1>
    <div>
        <h3>Filters:</h3>
        <div class="input-field inline">
            <input id="name" type="text" class="validate">
            <label for="name" data-error="wrong" data-success="right">Name</label>
        </div>
        <div class="row">
            <select [(ngModel)]="selectedBonus" class="browser-default" (ngModelChange)="onChange($event)" materialize="material_select">
                <option *ngFor="let bonus of bonuses" [ngValue]="bonus">{{bonus['label']}}</option>
            </select>
            <label>Bonus Category</label>
            <div *ngIf="selectedBonus && selectedBonus['childBonuses']">
                <select [(ngModel)]="selectedChildBonus" class="browser-default" materialize="material_select">
                    <option *ngFor="let childBonus of selectedBonus['childBonuses']" [ngValue]="childBonus">{{childBonus['label']}}</option>
                </select>
                <label>Optgroups</label>
            </div>
            <a class="waves-effect waves-light btn-large" (click)="addFilter()"><i class="material-icons left">add</i>button</a>
        </div>
        <div class="row">
            <div *ngFor="let filter of filters" class="chip">                
                {{filter}}
                <i class="close material-icons" (click)="removeFilter(filter)">close</i>
            </div>
        </div>
    </div>
    <div *ngIf="current" class="card itemcard">
        <h5>{{current.name}}(Equipped)</h5>
        <div *ngFor="let bonus of current.mappedBonuses">
            {{bonus.Text}}: {{bonus.Value}}
        </div>
    </div>
    <div class="container itemlist yellow lighten-5 ">
        <div (click)="current=item" *ngFor="let item of items" class="card itemcard">
            <h5>{{item.name}}</h5>
            <div *ngFor="let bonus of item.mappedBonuses">
                {{bonus.Text}}: {{bonus.Value}}
            </div>
        </div>
    </div>

</div>