<div class="container left blue-grey darken-3" style="max-width:50%">
    <div class="row">
        <item-slot *ngIf="belts" [item]="belts[0]" class="col s3 left"></item-slot>
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2"></item-slot>
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2"></item-slot>
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2"></item-slot>
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3 right"></item-slot>
    </div>
    <div class="row">
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3 left"></item-slot>
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3 right"></item-slot>
    </div>
    <div class="row">
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2 left"></item-slot>
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2 right"></item-slot>
    </div>
    <div class="row">
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2 left"></item-slot>
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2 right"></item-slot>
    </div>
    <div class="row">
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2 left"></item-slot>
        <item-slot *ngIf="belts" [size]="0" [item]="belts[0]"  class="col s2 right"></item-slot>
    </div>
    <div class="row">
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3 left"></item-slot>
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3 right"></item-slot>
    </div>
    <div class="row">
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3"></item-slot>
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3"></item-slot>
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3"></item-slot>
        <item-slot *ngIf="belts" [item]="belts[0]"  class="col s3"></item-slot>
    </div>    
</div>